---
import { PB } from "./../config/pb.js";

const principal = await PB.collection("principal").getList(1, 2, {
  sort: "created",
});

const vice_principal = await PB.collection("vice_principal").getList(1, 2, {
  sort: "created",
});

const vice_principal_image = PB.files.getUrl(
  vice_principal.items[0],
  vice_principal.items[0].photo,
  {
    thumb: "150x150",
  }
);

const principal_image = PB.files.getUrl(
  principal.items[0],
  principal.items[0].photo,
  {
    thumb: "150x150",
  }
);
---

<div class="grid grid-cols-12 gap-4 font-light text-lg">
  <div class="p-4 rounded-md col-span-12 sm:col-span-6">
    <span class="text-2xl font-bold">About <br /></span>
    <h1 class="text-4xl border-b-2 border-blue-900">
      Charsiba Technical Institute
    </h1>
    <p class="mt-4 text-justify">
      At our technical institute, we are dedicated to providing quality
      education and hands-on training in cutting-edge technologies. Our
      experienced instructors and state-of-the-art facilities equip students
      with the skills needed to succeed in today's job market. Join us on the
      path to a bright future in technology!
    </p>
    <div class="flex justify-center p-4">
      <a
        href="/about/why"
        class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold text-indigo-500 hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
      >
        Why Technical Education?
      </a>
    </div>
  </div>
  <div class="p-4 rounded-md col-span-12 sm:col-span-6">
    <span class="text-2xl font-bold">Key Person <br /></span>
    <div class="flex justify-center gap-3 p-2">
      <div
        class="flex flex-col border-blue-300 border-2 bg-white shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]"
      >
        <img
          class="w-[300px] rounded-t-xl"
          src={principal_image}
          alt="Image Description"
        />
        <div class="p-4 md:p-5">
          <h3
            class="text-lg font-bold text-gray-800 text-center dark:text-white"
          >
            {principal.items[0].name}
          </h3>
          <p class="mt-1 p-2 text-gray-800 dark:text-gray-400 text-center">
            {principal.items[0].bio}
          </p>
          <div class="w-full flex justify-center">Message</div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col border-blue-300 border-2 bg-white shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]"
    >
      <img
        class="w-[300px] rounded-t-xl"
        src={vice_principal_image}
        alt="Image Description"
      />
      <div class="p-4 md:p-5">
        <h3 class="text-lg font-bold text-gray-800 text-center dark:text-white">
          {vice_principal.items[0].name}
        </h3>
        <p class="mt-1 text-gray-800 dark:text-gray-400 text-center p-2">
          {vice_principal.items[0].bio}
        </p>
        <div class="w-full flex justify-center"></div>
      </div>
    </div>
  </div>
</div>
